</main>
<div class="footer">

  <p>E-mail: onthaal.ell@ap.be</p>
  <p>Tel.: +32 3 220 33 00</p>
  <a href="https://damp-taiga-90659.herokuapp.com/"><p>https://damp-taiga-90659.herokuapp.com/</p></a>   
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/script.js"></script>


</html>
