<!DOCTYPE html>



<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <header>

      <! made for i phone x. Portfolio wanneer het er raar uit ziet ctrl shift r>

      <div class="banner">
        <img src="/banner.png" alt="">
      </div>
      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/contact">Contact</a>
      </div>

      <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776;</button>

      </div>
    </header>
    <main>
